{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="{{url_for('dashboard')}}"><i class="icon-dashboard"></i> Dashboard</a>
  <div class='dropdown'>
    <a href="{{url_for('students')}}"><i class="icon-user"></i> Students</a>
    <div class="dropdown-content">
      <a href="{{url_for('student_list')}}">Student List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('advisors')}}"><i class="icon-user"></i> Advisors</a>
    <div class="dropdown-content">
      <a class="active" href="{{url_for('advisor_list')}}">Advisor List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('staffs')}}"><i class="icon-user"></i> Staffs</a>
    <div class="dropdown-content">
      <a href="{{url_for('staff_list')}}">Staff List</a>
    </div>
  </div>
  <a href="{{url_for('hall_res')}}"><i class="icon-building"></i> Residence Halls</a>
  <a href="{{url_for('hall_rooms')}}"><i class="icon-columns"></i> Hall Rooms</a>
  <a href="{{url_for('stu_flats')}}"><i class="icon-home"></i> Student Flats</a>
  <a href="{{url_for('flat_rooms')}}"><i class="icon-th-large"></i> Flat Bedrooms</a>
</div>

<div class="main">
  <div class="jumbotron">
    {% if session['admin'] %}
    <h1 align="center">List Of Advisors</h1>
    <br>
    <table class="tables">
        <thead>
        <tr>
          <th>Advisor ID</th>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Internal Phone</th>
          <th>Room Number</th>
          <th>Staff Number</th>
        </tr>
        </thead>
        <tbody>
        {% for advisor in advisors %}
        <tr>
          <td>{{advisor.advisor_id}}</td>
          <td>{{advisor.fname}} {{advisor.lname}}</td>
          <td>{{advisor.position}}</td>
          <td>{{advisor.department}}</td>
          <td>{{advisor.phone}}</td>
          <td>{{advisor.room_num}}</td>
          <td>{{advisor.staff_num}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
