{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="{{url_for('dashboard')}}"><i class="icon-dashboard"></i> Dashboard</a>
  <div class='dropdown'>
    <a href="{{url_for('students')}}"><i class="icon-user"></i> Students</a>
    <div class="dropdown-content">
      <a href="{{url_for('student_list')}}">Student List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('advisors')}}"><i class="icon-user"></i> Advisors</a>
    <div class="dropdown-content">
      <a href="{{url_for('advisor_list')}}">Advisor List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('staffs')}}"><i class="icon-user"></i> Staffs</a>
    <div class="dropdown-content">
      <a href="{{url_for('staff_list')}}">Staff List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_res')}}"><i class="icon-building"></i> Residences</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_list')}}">Hall List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_rooms')}}"><i class="icon-columns"></i> Hall Rooms</a>
    <div class="dropdown-content">
        <a href="{{url_for('hroom_list')}}">Hall Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('stu_flats')}}"><i class="icon-home"></i> Student Flats</a>
    <div class="dropdown-content">
        <a href="{{url_for('flat_list')}}">Flat List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('flat_rooms')}}"><i class="icon-th-large"></i> Flat Rooms</a>
    <div class="dropdown-content">
        <a href="{{url_for('froom_list')}}">Flat Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('leases')}}"><i class="icon-file"></i> Leases</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_leases')}}">Hall Leases</a>
        <a class="active" href="{{url_for('flat_leases')}}">Flat Leases</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('invoices')}}"><i class="icon-credit-card"></i> Invoices</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_invoices')}}">Hall Invoices</a>
        <a href="{{url_for('flat_invoices')}}">Flat Invoices</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('inspections')}}"><i class="icon-lightbulb"></i> Inspections</a>
    <div class="dropdown-content">
        <a href="{{url_for('inspect_list')}}">Inspect List</a>
    </div>
  </div>
</div>

<div class="main">
  <div class="jumbotron">
    {% if session['admin'] %}
    <h1 align="center">The Student Flat Lease</h1>
    <br>
    <table class="tablerec">
        <tr>
          <td><b>Lease Number</b></td>
          <td>{{lease.lease_num}}</td>
        </tr>
        <tr>
            <td><b>Semester(s)</b></td>
            <td>{{lease.semester}}</td>
        </tr>
        <tr>
            <td><b>Student's Name</b></td>
            <td>{{student.fname}} {{student.lname}}</td>
        </tr>
        <tr>
            <td><b>Grade 12 Number</b></td>
            <td>{{student.grade_num}}</td>
        </tr>
        <tr>
          <td><b>Place Number</b></td>
          <td>{{froom.place_num}}</td>
        </tr>
        <tr>
            <td><b>Bedroom Number</b></td>
            <td>{{froom.room_num}}</td>
        </tr>
        <tr>
            <td><b>Flat Number</b></td>
            <td>{{flat.flat_num}}</td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td>{{flat.flat_address}}</td>
        </tr>
        <tr>
            <td><b>Lease Start</b></td>
            <td>{{lease.lease_start}}</td>
        </tr>
        <tr>
            <td><b>Lease End</b></td>
            <td>{{lease.lease_end}}</td>
        </tr>
    </table>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
