{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="main">
  <div class="jumbotron">
    <h1 align="center">Residence Hall Rooms</h1>
    <br>

    <form method="POST">
      {{ form.hidden_tag()}}
      <div class="form-row">
        <div class="form-group col-md-4">
            <strong>{{ form.place_num.label }}</strong>
            {{ form.place_num(class="form-control") }}
        </div>
        <div class="form-group col-md-4">
            <strong>{{ form.room_num.label }}</strong>
            {{ form.room_num(class="form-control") }}
        </div>
        <div class="form-group col-md-4">
            <strong>{{ form.rent.label }}</strong>
            {{ form.rent(class="form-control") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <strong>{{ form.hall_name.label }}</strong>
            {{ form.hall_name(class="form-control") }}
        </div>
        <div class="form-group col-md-6">
            <strong>{{ form.hall_num.label }}</strong>
            {{ form.hall_num(class="form-control") }}
        </div>
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>

{% endblock %}
