{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="{{url_for('dashboard')}}"><i class="icon-dashboard"></i> Dashboard</a>
  <div class='dropdown'>
    <a href="{{url_for('students')}}"><i class="icon-user"></i> Students</a>
    <div class="dropdown-content">
      <a href="{{url_for('student_list')}}">Student List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('advisors')}}"><i class="icon-user"></i> Advisors</a>
    <div class="dropdown-content">
      <a href="{{url_for('advisor_list')}}">Advisor List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('staffs')}}"><i class="icon-user"></i> Staffs</a>
    <div class="dropdown-content">
      <a href="{{url_for('staff_list')}}">Staff List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_res')}}"><i class="icon-building"></i> Residences</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_list')}}">Hall List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_rooms')}}"><i class="icon-columns"></i> Hall Rooms</a>
    <div class="dropdown-content">
        <a class="active" href="{{url_for('hroom_list')}}">Hall Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('stu_flats')}}"><i class="icon-home"></i> Student Flats</a>
    <div class="dropdown-content">
        <a href="{{url_for('flat_list')}}">Flat List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('flat_rooms')}}"><i class="icon-th-large"></i> Flat Rooms</a>
    <div class="dropdown-content">
        <a href="{{url_for('froom_list')}}">Flat Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('leases')}}"><i class="icon-file"></i> Leases</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_leases')}}">Hall Leases</a>
        <a href="{{url_for('flat_leases')}}">Flat Leases</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('invoices')}}"><i class="icon-credit-card"></i> Invoices</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_invoices')}}">Hall Invoices</a>
        <a href="{{url_for('flat_invoices')}}">Flat Invoices</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('inspections')}}"><i class="icon-lightbulb"></i> Inspections</a>
    <div class="dropdown-content">
        <a href="{{url_for('inspect_list')}}">Inspect List</a>
    </div>
  </div>
</div>

<div class="main">
  <div class="jumbotron">
    {% if session['admin'] %}
    <h1 align="center">List Of Rooms In The Halls</h1>
    <br>
    <h5>Hall 1</h5>
    <table class="tables">
        <thead>
        <tr>
          <th>Place Number</th>
          <th>Room Number</th>
          <th>Monthly Rent</th>
          <th>Capacity</th>
        </tr>
        </thead>
        <tbody>
        {% for one_room in one_rooms %}
        <tr>
          <td>{{one_room.place_num}}</td>
          <td>{{one_room.room_num}}</td>
          <td>${{ "{:.2f}".format(one_room.monthly_rent) }}</td>
          <td>{{one_room.capacity}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
