{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="main">
  <div class="jumbotron">
    <h1 align="center">Flat Inspections</h1>
    <br>

    <form method="POST">
      {{ form.hidden_tag()}}
      <div class="form-row">
        <div class="form-group col-md-4">
            <strong>{{ form.inspect_num.label }}</strong>
            {{ form.inspect_num(class="form-control") }}
        </div>
        <div class="form-group col-md-4">
            <strong>{{ form.flat_num.label }}</strong>
            {{ form.flat_num(class="form-control") }}
        </div>
        <div class="form-group col-md-4">
            <strong>{{ form.date.label }}</strong>
            {{ form.date(class="form-control", type="date") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <strong>{{ form.fname.label }}</strong>
          {{ form.fname(class="form-control") }}
        </div>
        <div class="form-group col-md-6">
            <strong>{{ form.lname.label }}</strong>
            {{ form.lname(class="form-control") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <strong>{{ form.staff_num.label }}</strong>
          {{ form.staff_num(class="form-control") }}
        </div>
        <div class="form-group col-md-6">
            <strong>{{ form.satisfy.label }}</strong>
            {{ form.satisfy(class="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <strong>
          {{ form.comments.label }}
        </strong>
        {{ form.comments(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>

{% endblock %}
