{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="main">
  <div class="jumbotron">
    <h1 align="center">Search Result For Staff</h1>
    <br>

    <ul>
        <li>Staff Number: 5659856</li>
        <li>Name: Bob Smith</li>
        <li>Address: 1234 Main Street, Chatham, Ontario N2S 5H9</li>
        <li>Date Of Birth: 1993/08/26</li>
        <li>Gender: Male</li>
        <li>Position: Office Assistant</li>
        <li>Location: Hall</li>
    </ul>
    <button class="btn btn-warning">Edit</button>  <button class="btn btn-danger">Delete</button>
  </div>
</div>

{% endblock %}
