{% extends "base.html" %}
{% block title %}Hostel{% endblock %}

{% block content %}

<div class="sidenav">
  <a href="{{url_for('dashboard')}}"><i class="icon-dashboard"></i> Dashboard</a>
  <div class='dropdown'>
    <a href="{{url_for('students')}}"><i class="icon-user"></i> Students</a>
    <div class="dropdown-content">
      <a class="active" href="{{url_for('student_list')}}">Student List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('advisors')}}"><i class="icon-user"></i> Advisors</a>
    <div class="dropdown-content">
      <a href="{{url_for('advisor_list')}}">Advisor List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('staffs')}}"><i class="icon-user"></i> Staffs</a>
    <div class="dropdown-content">
      <a href="{{url_for('staff_list')}}">Staff List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_res')}}"><i class="icon-building"></i> Residences</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_list')}}">Hall List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('hall_rooms')}}"><i class="icon-columns"></i> Hall Rooms</a>
    <div class="dropdown-content">
        <a href="{{url_for('hroom_list')}}">Hall Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('stu_flats')}}"><i class="icon-home"></i> Student Flats</a>
    <div class="dropdown-content">
        <a href="{{url_for('flat_list')}}">Flat List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('flat_rooms')}}"><i class="icon-th-large"></i> Flat Rooms</a>
    <div class="dropdown-content">
        <a href="{{url_for('froom_list')}}">Flat Room List</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('leases')}}"><i class="icon-file"></i> Leases</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_leases')}}">Hall Leases</a>
        <a href="{{url_for('flat_leases')}}">Flat Leases</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('invoices')}}"><i class="icon-credit-card"></i> Invoices</a>
    <div class="dropdown-content">
        <a href="{{url_for('hall_invoices')}}">Hall Invoices</a>
        <a href="{{url_for('flat_invoices')}}">Flat Invoices</a>
    </div>
  </div>
  <div class='dropdown'>
    <a href="{{url_for('inspections')}}"><i class="icon-lightbulb"></i> Inspections</a>
    <div class="dropdown-content">
        <a href="{{url_for('inspect_list')}}">Inspect List</a>
    </div>
  </div>
</div>

<div class="main">
  <div class="jumbotron">
    {% if session['admin'] %}
    <h1 align="center">The Student's Information</h1>
    <br>
    <table class="tablerec">
        <tr>
            <td><b>Grade 12 Number</b></td>
            <td>{{student.grade_num}}</td>
        </tr>
        <tr>
            <td><b>Student's Name</b></td>
            <td>{{student.fname}} {{student.lname}}</td>
        </tr>
        <tr>
            <td><b>Student's Address</b></td>
            <td>{{student.address}}, {{student.city}}, {{student.province}} {{student.postcode}}</td>
        </tr>
        <tr>
            <td><b>Student's Date Of Birth</b></td>
            <td>{{student.dob}}</td>
        </tr>
        <tr>
            <td><b>Student's Gender</b></td>
            <td>{{student.gender}}</td>
        </tr>
        <tr>
            <td><b>Student's Category</b></td>
            <td>{{student.category}}</td>
        </tr>
        <tr>
            <td><b>Student's Nationality</b></td>
            <td>{{student.nationality}}</td>
        </tr>
        <tr>
            <td><b>Student's Status</b></td>
            <td>{{student.status}}</td>
        </tr>
        <tr>
            <td><b>Student's Major</b></td>
            <td>{{student.major}}</td>
        </tr>
        <tr>
            <td><b>Advisor's Name</b></td>
            <td>{{staff.fname}} {{staff.lname}}</td>
        </tr>
        <tr>
            <td><b>Advisor ID</b></td>
            <td>{{student.advisor_id}}</td>
        </tr>
        <tr>
            <td><b>Special Needs</b></td>
            <td>{{student.special_needs}}</td>
        </tr>
        <tr>
            <td><b>Additional Comments</b></td>
            <td>{{student.comments}}</td>
        </tr>
    </table>
    {% else %}
      <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</div>

{% endblock %}
